<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        /* Add a border to the table */
        table {
            border: 2px black solid; /* 2px black solid border */
            border-collapse: collapse; /* Collapse the border so there are no spaces between cells */
            width: 100%; /* Set the table width to 100% of its container */
            font-family: Arial, sans-serif; /* Change the font family */
        }

        /* Style for table headers */
        th {
            border: 2px black solid;
            background-color: #86c786; /* Gray background color for headers */
            color: white; /* Text color */
            padding: 10px; /* Add padding for better spacing */
        }

        /* Style for table data cells */
        td {
            border: 2px black solid;
            padding: 8px; /* Add padding for better spacing */
            text-align: center; /* Center-align text in cells */
        }
    </style>
    <title>List of Authors</title>
</head>
<body>
{{ authors }}
{#{% for author in authors %}#}
{#{{ author}}#}
{#{% endfor %}#}
{#{% set sum = 0 %}#}
{#{% if authors |length == 0 %}#}
{#    <h5> table vide</h5>#}
{#{% else %}#}


{#    <table >#}
{#        <thead>#}
{#        <tr>#}
{#            <th>ID</th>#}
{#            <th>Name</th>#}
{#            <th>Email</th>#}
{#            <th>Number Book</th>#}
{#            <th>Actions</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}

{#        {% for author in authors %}#}
{#            <tr>#}
{#                <td>{{ author.id }}</td>#}
{#                <td>{{ author.username |upper}}</td>#}
{#                <td>{{ author.email }}</td>#}
{#                <td>{{ author.nbBooks }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('author_details', {'id': author.id}) }}">Show More</a>#}
{#                    <a href="{{ path('delete_author', {'id': author.id}) }}">delete</a>#}
{#                    <a href="{{ path('update_author', {'id': author.id}) }}">edit</a>#}

{#                </td>#}
{#                {% set sum = sum+author.nbBooks %}#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#    <form method="get" action="{{ path('search_author') }}">#}
{#        <label for="number_min">Number Min:</label>#}
{#        <input type="number" id="number_min" name="number_min" required>#}

{#        <label for="number_max">Number Max:</label>#}
{#        <input type="number" id="number_max" name="number_max" required>#}

{#        <button type="submit">Search</button>#}
{#    </form>#}
{#{% endif %}#}
{#Length of table :{{ authors |length}} <br>#}
{#Total number of books{{ sum}}#}
</body>
</html>

